body {
    text-align: center;
}

.modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.438);
    padding-top: 10%;
}

.modal-body {
    position: relative;
    width: 300px;
    height: 100px;
    top: 50%;
    left: 50%;
    background: white;
    transform: translate(-50%, 400%);
}

.hide {
    display: none;
}